/* -------------------- General formatting -------------------- */

body {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-size: 16px;
    width: 98%;
    max-width: 1400px;
}

/* -------------------------- HEADER --------------------------- */

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
}


header ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    width: 360px;
    justify-content: center;
}

header li {
    border-top: 2px #ffffff00 solid;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

header li:hover {
    border-top: 2px #0065FC solid;
    font-weight: 500;
}

header a {
    display: block;
    padding: 40px 40px;
    text-decoration: none;
    color: black;
}

header a:hover {
    color: #0065FC;
}


#logo {
    width: 60px;
    object-fit: contain;
}

/* -------------------- Section research---------------------- */

#research h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}

/* ----- div search_form ----- */

#search_form_for_mobile {
    display: none;
}

#search_form {
    display: flex;
    margin-bottom: 25px;
    margin-top: 20px;
}

#search_form .fa-location-dot {
    color: black;
    font-size: 18px;
}

.container_icon_location {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    text-align: center;
    vertical-align: middle;
    line-height: 49px;
}

#search_form input {
    border: 1px solid #f2f2f2;
    width: 236px;
    height: 51px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    padding-left: 17px;
    margin-right: -4px;
}

#search_form input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#search_form input:focus {
    outline: 1px solid #f2f2f2;
}

#search_form button {
    background-color: #0065FC;
    color: white;
    border: #0065FC 1px solid;
    width: 132px;
    height: 51px;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 600;
}

/* ------ div filters ------ */

#filters h4 {
    margin-left: 12px;
    font-size: 18px;
    font-weight: 700;
    width: 10%;
}

#filters {
    display: flex;
    align-items: center;
    max-width: 950px;
}

#block_four_bubbles {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.bubble {
    display: flex;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    height: 45px;
}

.bubble:hover {
    background-color: #DEEBFF;
}

.filter_name {
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.filter_icon {
    color: #0065FC;
    font-size: 22px;
    margin: 14px 10px 14px 20px;
}


/* ------- div info ------- */

#info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#info div {
    font-size: small;
    text-align: center;
    vertical-align: middle;
    border: 1px #d9d9d9 solid;
    margin-left: 9px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    line-height: 24px;
}

#info i {
    color: #0065FC;
}

/* ---------------- Section hosting in Marseille ----------------- */

#hosting_in_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px 40px 46px 40px;
}

#hosting_in_marseille a {
    text-decoration: none;
    color: black;
}

#hosting_in_marseille h2 {
    font-weight: 700;
    font-size: 22px;
}

#show_more {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 40px 0 0 4px;
}

#hosting_in_marseille .picture_card {
    width: 96%;
    height: 114px;
    object-fit: cover;
    border: 5px white solid;
    border-radius: 20px 20px 0 0;
}

.hosting_card p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 0 16px;
}

.hosting_card h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 16px;
}

#hosting_in_marseille #stars {
    margin: 5px 0 0 16px;
    color: #F2F2F2;
}

#hosting_in_marseille #stars i {
    font-size: 12px;
}

#hosting_in_marseille .blue_stars {
    color: #0065FC;
}

.hosting_card {
    height: 199px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1) ;
}

#hosting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* ------------------------ Section popular ---------------------- */

#popular {
    background-color: #F2F2F2;
    width: 31%;
    border-radius: 20px;
    height: 596px;
    padding-top: 20px;
}

#popular #title_and_icone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
    margin: 0 auto 0 auto;
}

#popular #title_and_icone i {
    color: #0065FC;
    font-size: 18px;
}

#popular h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
}

#popular h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.popular_card {
    width: 80%;
    margin: 0 auto 30px auto;
    height: 130px;
    display: flex;
    border: 5px white solid;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1) ;
    background-color: white;
}

.picture_popular_card {
    width: 38%;
    object-fit: cover;
    height: 130px;
    border-radius: 16px 0 0 16px;
}

.info_popular_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

.info_popular_card p {
    font-size: 14px;
    margin-top: 7px;
}

#most_popular_cards #stars {
    font-size: 12px;
    margin-bottom: 4px;
    color: #F2F2F2;
}

#most_popular_cards .blue_stars {
    color: #0065FC;
}

#popular a {
    text-decoration: none;
    color: black;
}

/* ------------ div flex_hosting_and_popular_sections ------------ */

#flex_hosting_and_popular_sections {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* --------------- Section activities in Marseille --------------- */

#activities_in_marseille h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

#activities_in_marseille h3 {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 700;
}

.title_activities_card {
    padding: 0;
    height: 56px;
    display: flex;
    align-items: center;
}

#activities_in_marseille {
    margin: auto;
}

#activities_in_marseille a {
    text-decoration: none;
    color: black;
}

#activities {
    display: flex;
    justify-content: space-between;
}

.activities_card {
    width: 22%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.photography_activities {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ------------------------- FOOTER ---------------------- */

footer {
    margin: 80px auto 0 auto;
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-between;
    padding: 15px 60px 30px 60px;
}

footer h4 {
    font-size: 18px;
    font-weight: 700;
}

.footer_block {
    width: 30%;
}

.footer_block ul {
    padding-left: 0;
}

.footer_block li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 12px;
}

/* ------------------- Responsive Design ------------------- */

/* ------------- Media queries - Touch pad ------------- */

@media screen and (max-width: 991px) {

    body {
        width: 95%;
    }

    #flex_hosting_and_popular_sections {
        display: flex;
        flex-direction: column;
    }

    #hosting_in_marseille {
        width: 91.2%;
    }

    #filters h4, #info div {
        margin-left: 0px;
    }

    /* ------- responsive - popular -------*/

    #popular {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 250px;
    }

    #most_popular_cards {
        display: flex;
        justify-content: space-between;
        width: 92%;
    }

    #most_popular_cards a {
        width: 31.5%;
    }

    .popular_card {
        width: 95%;
        margin-bottom: 0;
    }

    #popular #title_and_icone {
        width: 92%;
    }

    .info_popular_card {
        margin: 0 5px 0 10px;
    }

    .info_popular_card p {
        font-size: 13px;
        margin-top: 7px;
    }

    /* ---- responsive - activities_in_marseille ----*/

    #activities_in_marseille {
        margin-top: 60px;
    }

    #activities_in_marseille h2 {
        margin-bottom: 30px;
    }

    .photography_activities {
        height: 267px;
    }

}

/* ------------- Media queries - Phone ------------- */

@media screen and (max-width: 767px) {

    body {
        width: 100%;
    }

    /* ---- responsive - header ----*/

    header {
        flex-direction: column;
    }

    #logo {
        margin: 20px auto 30px auto;
    }
    
    header ul {
        width: 100%;
    }
    
    header li {
        border-top: 0;
        padding: 0;
        width: 50%;
        border-bottom: 3px solid #F2F2F2;
        font-size: 16px;
    }
    
    header li:hover {
        border-top: 0;
        border-bottom: 3px solid #0065FC;
    }

    header a {
        padding: 20px 0;
    }

    /* ---- responsive - section research ----*/

    #research {
        width: 88%;
        margin: auto;
    }

    #research h1 {
        margin-top: 31px;
    }

    #search_form {
        display: none;
    }

    #search_form_for_mobile {
        display: flex;
        margin: 35px auto;
        width: 340px;
    }

    #search_form_for_mobile .fa-location-dot {
        color: black;
        font-size: 18px;
    }

    #search_form_for_mobile .fa-magnifying-glass {
        color: white;
        font-size: 17px;
    }

    #search_form_for_mobile input {
        border: 1px solid #f2f2f2;
        width: 236px;
        height: 51px;
        font-size: 18px;
        font-weight: 400;
        color: black;
        padding-left: 17px;
        margin-right: -4px;
    }
    
    #search_form_for_mobile input::placeholder {
        font-size: 18px;
        font-weight: 700;
        color: black;
    }
    
    #search_form_for_mobile input:focus {
        outline: 1px solid #f2f2f2;
    }

    #search_form_for_mobile button {
        background-color: #0065FC;
        color: white;
        border: #0065FC 1px solid;
        width: 51px;
        height: 51px;
        border-radius: 0 15px 15px 0;
        font-weight: 600;
    }

}