/* -------------------- General formatting -------------------- */

body {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    font-size: 16px;
    max-width: 1440px;
}

/* -------------------------- HEADER --------------------------- */

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

header ul {
    margin: 0;
    display: flex;
    list-style-type: none;
}

header li {
    border-top: 2px #ffffff00 solid;
    padding: 50px 40px;
    font-size: 18px;
    font-weight: 400;
    width: 120px;
    text-align: center;
}

header li:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
    font-weight: 500;
}

#logo {
    width: 60px;
    object-fit: contain;
}

/* -------------------- Section research---------------------- */

#research h1 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}

/* ----- div search_form ----- */

#search_form {
    display: flex;
    margin-bottom: 25px;
    margin-top: 20px;
}

#search_form i {
    color: black;
    font-size: 18px;
}

#container_icon_location {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
    text-align: center;
    vertical-align: middle;
    line-height: 49px;
}

#search_form input {
    border: 1px solid #f2f2f2;
    width: 236px;
    height: 51px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    padding-left: 17px;
    margin-right: -4px;
}

#search_form input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#search_form input:focus {
    outline: 1px solid #f2f2f2;
}

#search_form button {
    background-color: #0065FC;
    color: white;
    border: #0065FC 1px solid;
    width: 132px;
    height: 51px;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
    font-weight: 600;
}

/* ------ div filters ------ */

#filters h4 {
    margin-left: 12px;
    font-size: 18px;
    font-weight: 700;
}

#filters, .block_two_bubbles {
    display: flex;
    align-items: center;
}

.bubble {
    display: flex;
    align-items: center;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    height: 45px;
    margin-left: 36px;
}

.bubble:hover {
    background-color: #DEEBFF;
}

.filter_name {
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.filter_icon {
    color: #0065FC;
    font-size: 22px;
    margin: 14px 10px 14px 20px;
}


/* ------- div info ------- */

#info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#info div {
    font-size: small;
    text-align: center;
    vertical-align: middle;
    border: 1px #d9d9d9 solid;
    margin-left: 9px;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    line-height: 24px;
}

#info i {
    color: #0065FC;
}

/* ---------------- Section hosting in Marseille ----------------- */

#hosting_in_marseille {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 840px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px 40px 46px 40px;
}

#hosting_in_marseille a {
    text-decoration: none;
    color: black;
}

#hosting_in_marseille h2 {
    font-weight: 700;
    font-size: 22px;
}

#show_more {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 40px 0 0 4px;
}

.picture_card {
    width: 250px;
    height: 114px;
    object-fit: cover;
    border: 5px white solid;
    border-radius: 20px 20px 0 0;
}

.hosting_card p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 0 16px;
}

.hosting_card h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 16px;
}

#stars {
    margin: 5px 0 0 16px;
    color: #F2F2F2;
}

#stars i {
    font-size: 12px;
}

.blue_stars {
    color: #0065FC;
}

.hosting_card {
    height: 199px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1) ;
}

#hosting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* --------------- Section activities in Marseille --------------- */

#activities_in_marseille h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

#activities_in_marseille h3 {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 700;
}

#activities_in_marseille {
    margin: auto;
}

#activities_in_marseille a {
    text-decoration: none;
    color: black;
}

#activities {
    display: flex;
    justify-content: space-between;
}

.activities_card {
    width: 22%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.photography_activities {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* ------------------------- FOOTER ---------------------- */

footer {
    margin: 80px auto 0 auto;
    display: flex;
    background-color: #F2F2F2;
}

footer h4 {
    font-size: 18px;
    font-weight: 700;
}

.footer_block {
    width: 30%;
    margin: auto;
    padding: 20px 60px;
}

.footer_block ul {
    padding-left: 0;
}

.footer_block li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 12px;
}