/* --------------- Mise en forme générale de la page -------------- */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 16px;
    max-width: 1400px;
}

h1, h2 {
    font-size: 22px;
    font-weight: 700;
}

h1 {
    margin-bottom: 8px;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: #0065FC;
}

/* -------------------------- HEADER --------------------------- */

header {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

li {
    border-top: 2px #ffffff00 solid;
    padding: 50px 40px;
    font-size: 18px;
    font-weight: 400;
    width: 120px;
    text-align: center;
}

li:hover {
    border-top: 2px #0065FC solid;
    color: #0065FC;
    font-weight: 500;
}

#logo {
    width: 60px;
    object-fit: contain;
}

/* -------------------- Section recherche---------------------- */

/* ----- div formulaire ----- */

#formulaire {
    display: flex;
    margin-bottom: 31px;
    margin-top: 20px;
}

#formulaire i {
    color: black;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 19px;
}

#conteneur_icone_localisation {
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 49px;
}

input {
    border: 1px solid #f2f2f2;
    width: 236px;
    height: 51px;
    font-size: 18px;
    font-weight: 400;
    color: black;
    padding-left: 17px;
    margin-right: -4px;
}

input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

input:focus {
    outline: 1px solid #f2f2f2;
}

button {
    background-color: #0065FC;
    color: white;
    border: #0065FC 1px solid;
    width: 132px;
    height: 51px;
    border-radius: 0 15px 15px 0;
    font-size: 18px;
}

/* ------ div filtres ------ */

#filtres, .partie_2_bulles, .bulle {
    display: flex;
    align-items: center;
}

.bulle {
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    height: 45px;
    padding: 0;
    margin-left: 36px;
}

.bulle:hover {
    background-color: #DEEBFF;
}

.les_filtres {
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    padding: 0;
}

#filtres i {
    font-size: 22px;
    margin: 14px 10px 14px 20px;
}


/* ------- div info ------- */

#info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.fa-info {
    font-size: small;
    margin: 5px 10px;
}

#bordure_info {
    border: 1px #d9d9d9 solid;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 30px;
}

/* --------------- Section Activités à Marseille --------------- */

#activites_a_marseille {
    margin: auto;
}

#activites {
    display: flex;
    justify-content: space-between;
}

.carte {
    width: 22%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.photo_activites {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.titres_activites {
    padding: 0 25px;
}

/* ------------------------- FOOTER ---------------------- */

footer {
    margin: 80px auto 0 auto;
    padding: 0;
    display: flex;
    background-color: #F2F2F2;
}

.bloc_footer {
    width: 30%;
    margin: 0 auto;
    padding: 20px 60px;
}